html{
    font-size: 62.5%;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after{
    box-sizing: inherit;
}
:root{
    --dark-gray:#818a9a;
    --light-gray:#dde1e7;
    --shadow:-5px -5px 9px rgba(255, 255, 255, 0.45),
    5px 5px 9px rgba(94, 104, 121, 0.3);
    --inset-shadow:inset -5px -5px 9px rgba(255, 255, 255, 0.45),
    inset 5px 5px 9px rgba(94, 104, 121, 0.3);;

}
.darkmode{
    background-color: #3a3939;
    color: #fff;
}
body{
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
    font-family: 'Sarpanch', sans-serif; 
    background-color: var(--light-gray);
}

.btn-dark-mode{
position: absolute;
width: 3rem;
height: 3rem;
margin: 1rem 1rem 0 0;
top: 0;
border-radius: 50%;
right: 0;
background-color: var(--light-gray);
box-shadow: var(--shadow);
}
.btn-dark-mode:active{
    box-shadow: var(--inset-shadow);
}
.container{
    padding: 1rem;
   background-color:var(--light-gray);
    width: 70%;
    max-width: 45rem;
    margin: 10rem auto;
    border-radius: 1rem;
   
    box-shadow: var(--shadow);
}
.container__calculator{
    width: 100%;
    display: flex;
    flex-direction: column;
  
    align-items: center;
}
.calculator__display{
    position: relative;
    box-shadow: var(--inset-shadow);
    width: 97%;
    overflow: hidden;
    margin-top: .5rem;
    margin-bottom: 1rem;
    height: 15rem;
    border-radius: 1rem;
    display: flex;
    justify-content: end;
    align-items: end;
    padding: 0 .5rem;
    font-size: 5rem;
    
}
.calculator__row-btn{
    max-width: 45rem;
    margin-bottom: 1rem;
    display: flex;
   align-items: center;
   width: 97%;
   justify-content: flex-start;


}
.calculator__btn{
    background-color: var(--light-gray);
    box-shadow: var(--shadow);
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    font-size: 2.5rem;
    border: none;
    cursor: pointer;
}
.calculator__btn--actives{
    background-color: rgb(245, 118, 80);
}
.calculator__btn--active-c{
    background-color: rgb(179, 191, 249);
}
.calculator__btn:not(:last-of-type){
    margin-right: 3rem;
}
.calculator__btn:active{
   
    box-shadow: var(--inset-shadow);
}
